* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #130c1d;
  font-family: "Inter", sans-serif;
  color: #b4b4b4;
}

a {
  display: inline-block;
  text-decoration: none;
  transition: opacity 0.3s;
}

a:hover {
  opacity: 0.8;
}

h1,
h2,
h3 {
  font-family: "Urbanist", sans-serif;
  font-weight: bold;
  color: #fcfcfc;
  line-height: 100%;
  letter-spacing: -1px;
}

p {
  max-width: 40ch;
  line-height: 1.6;
}

a.primary-btn {
  font-family: "Urbanist", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  padding: 1rem 2rem;
  border-radius: 6px;
  background-image: linear-gradient(to right, #fe47de, #a145e3);
  color: #fff;
}

.gradient-text {
  background-image: linear-gradient(to bottom, #fe47de, #a145e3);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heading-large {
  font-size: clamp(2.5rem, 1.6333rem + 3.698vw, 4rem);
}

.heading-medium {
  font-size: clamp(1.5rem, 0.9222rem + 2.4653vw, 2.5rem);
}

.header {
  width: 90%;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

.logo .logomark {
  display: none;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.hero .text {
  flex: 1;
}

.hero .text .heading-large {
  margin-bottom: 1rem;
  max-width: 15ch;
}

.hero .text .description {
  margin-bottom: 2rem;
}

.hero .text .primary-btn {
  font-size: 1.25rem;
}

.hero .image {
  flex: 1;
  max-width: 35%;
}

.features {
  background-image: linear-gradient(to right, #fe47de, #a145e3);
  color: hsl(265, 41%, 25%);
  font-weight: 500;
  padding: 5rem;
  display: flex;
  justify-content: center;
  gap: 4rem;
  text-align: center;
  margin: 10rem auto;
  width: 90%;
  border-radius: 0.5rem;
}

.features .heading-medium {
  color: #130c1d;
}

.features .feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.features .feature img {
  width: 5rem;
}

.features .feature p {
  max-width: 35ch;
}

.final-cta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 80%;
  margin: 8rem auto;
}

.final-cta .left {
  flex: 4;
}

.final-cta .right {
  flex: 3;
}

.final-cta .right p {
  flex: 1;
  max-width: 100%;
}

.final-cta .right p:not(:last-child) {
  margin-bottom: 0.5rem;
}

.final-cta .right .primary-btn {
  margin-top: 1rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 2rem;
}

.footer .socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@media screen and (max-width: 900px) {
  .features {
    flex-direction: column;
  }

  .final-cta {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
    margin-top: 2rem;
  }

  .hero .text p {
    margin: 0 auto;
  }

  .hero .image {
    max-width: 50%;
  }

  .final-cta {
    flex-direction: column;
    text-align: center;
    /* align-items: start; */
  }

  .final-cta .heading-large {
    max-width: 15ch;
  }

  .final-cta .right p {
    max-width: 40ch;
  }
}

@media screen and (max-width: 600px) {
  .logo .logomark {
    display: block;
  }

  .logo .full-logo {
    display: none;
  }

  .navbar .primary-btn {
    padding: 0.875rem 1.5rem;
    font-size: 0.875rem;
  }

  .hero .text .primary-btn {
    font-size: 1rem;
  }

  .features {
    padding: 5rem 1rem;
  }

  .features .feature img {
    width: 3rem;
  }
}
